asgiref @ file:///croot/asgiref_1724072470684/work
Django @ file:///croot/django_1724964382619/work
djangorestframework==3.15.2
flake8 @ file:///croot/flake8_1726157165993/work
mccabe @ file:///opt/conda/conda-bld/mccabe_1644221741721/work
pycodestyle @ file:///croot/pycodestyle_1726150303809/work
pyflakes @ file:///croot/pyflakes_1708962956225/work
python-dotenv==1.0.1
setuptools==75.1.0
sqlparse @ file:///work/perseverance-python-buildout/croot/sqlparse_1698874574933/work
wheel==0.44.0
