asgiref @ file:///croot/asgiref_1724072470684/work
attrs==24.2.0
Django @ file:///croot/django_1724964382619/work
djangorestframework==3.15.2
drf-spectacular==0.27.2
flake8 @ file:///croot/flake8_1726157165993/work
inflection==0.5.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
mccabe @ file:///opt/conda/conda-bld/mccabe_1644221741721/work
pillow==11.0.0
pycodestyle @ file:///croot/pycodestyle_1726150303809/work
pyflakes @ file:///croot/pyflakes_1708962956225/work
python-dotenv==1.0.1
PyYAML==6.0.2
referencing==0.35.1
rpds-py==0.21.0
setuptools==75.1.0
sqlparse @ file:///work/perseverance-python-buildout/croot/sqlparse_1698874574933/work
uritemplate==4.1.1
wheel==0.44.0
